body{
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    height: 100hv;
    font-family: sans-serif;
    background: center/cover url('https://wallpapercave.com/wp/wp7558808.png');
    
}

.container {
    width: 300px;
    margin: auto;   
}


input{
    width: 90%;
    border-radius: 8px;
    padding: 8px 15px;
    border: 1px solid white;
    height: 40px;
    
}

ul{
    list-style: none;
    padding: 0;
}

li {
    background: #fff;
    border-radius: 8px;
    border: #fff;
    width: 100%;
    padding: 8px 15px;
    margin: 5px 0;
}

#btAdd{
    width:50%;
    border-radius: 10px;
    padding: 8px;
}
#btFilter{
    width:50%;
    border-radius: 10px;
    padding: 8px;
}
#btRemove{
    width:50%;
    border-radius: 10px;
    padding: 8px;
}
#btSelect{
    width:50%;
    border-radius: 10px;
    padding: 8px;
}